.FDCalculator {}

#fdform{
    text-align: center;
    justify-content: center;
}

#fdformcontrol{
    text-align: center;
}

#formbutton{
    min-width: 100%;
    margin-bottom: 2%;
}

#inputGroupText{
    justify-content: center;
}